*{
	margin: 0px;
	padding: 0px;
}
body{
	
  background: url("/img/presence.png");
}
.panelStyles{
	float: right;
	width:25%;
	opacity:0.9;
	margin-right: 20%;
	margin-top: 5%;
	background-color:#F7FFF9;
	border-radius: 50px 0px 50px 0px;
	
}
.panel-heading{
	background-color: #68b12f;
	background: linear-gradient(top, #68b12f, #50911e);
	border: 1px solid #509111;
	opacity:0.9;
	border-radius: 50px 0px 0px 0px;
}
.panel-heading h1{
	color: #ECF6EE;
	text-shadow: 5px 3px 1px #000000;
}
.panel-heading h5{
	color: #ECF6EE;
	text-shadow: 5px 3px 1px #000000;
}

.carousel-caption{
	color: red;
	text-align: left;
}
.contenedor{
	text-align: center;
	color: white;
	font-family: verdana;
	font-size: 2em;
	width:40%;
	text-shadow: 2px 3px 1px #000000;
	
	margin-right: 20%;
	margin-top: 5%;
	background-color:transparent;

}
.contenedor h1{
	font-size: 45px;
}
.navbar-nav li{
	border: 2px solid black;
	background-color: #323531  ;
	border-radius: 50px;
	color: red;
}
.navbar-nav li:hover{
	border: 2px solid #26B7A1;
	border-radius: 50px;
	background-color: #26B7A1;
}
.container-fluid{
	border: 2px solid black;
	background-color: #323531  ;
	border-radius: 20px;
}



