<template name="footer">
	<div id="footer">
  <div class="panel2" id="acolapsar" >
 <ul>
     <li><a href="http://localhost:3000/">Inicio</a><span class="dot divider"> &middot;</span></li>
      <li><a href="http://localhost:3000/contact">Contacto</a><span class="dot divider"> &middot;</span></li>
    <li> <a href="/about">Sobre nosotros</a><span class="dot divider"> &middot;</span></li>
    <li><a href="http://">Estado</a><span class="dot divider"> &middot;</span></li>
    <li><a href="/tos">Condiciones</a><span class="dot divider"> &middot;</span></li>
    <li><a href="/privacy">Privacidad</a><span class="dot divider"> &middot;</span></li>
    <li><a href="//">Cookies</a><span class="dot divider"> &middot;</span></li>
    <li><a href="//">Información sobre anuncios</a><span class="dot divider"> &middot;</span></li>
    <li><a href="//ads.">Anunciarse</a><span class="dot divider"> &middot;</span></li>
    <li><a href="//dev.FriendZone.com">Desarrolladores</a><span class="dot divider"> &middot;</span></li>
      <li><a href="/i/directory">Directorio</a><span class="dot divider"> &middot;</span></li>
      <li><a href="//support.FriendZone.com">Ayuda</a><span class="dot divider"> &middot;</span></li>
    <li><a href=""><span class="copyright">&copy; 2016 Twitter</span></a></li>
   </ul>

  
</div>
</div>
</template>
 