<template name="form">
	<div class="row" id="contenido" data-cont="0">
		<div class="col-md-7 col-xs-6">
			{{>texto}}
		</div>
		<div class="col-md-5 col-xs-6">
		
			<div class="panel panelStyles">
				<div class="panel-heading">
					<h4>¿Eres nuevo en Friend Zone?</h4>
				</div>
				<div class="panel-body">
					<form action="" method="POST" role="form">
					
					<div class="form-group">
						<label form="">Nombre</label>
						<input class="form-control input-sm" id="signup-username" placeholder="Nombre">
					</div>
					<div class="form-group">
						<label form="">Apellidos</label>
	        		 	<input class="form-control input-sm" id="signup-fullname" placeholder="Apellido)">	
					</div>
					<div class="form-group">
						<label for="">Email</label>
	         			<input type="email" name="" id="signup-email" class="form-control" value="" required="required" title="" placeholder="Email">	
					</div>
        		 	<div class="form-group">
	        		 	<label for="">Password</label>
	         			<input class="form-control input-sm" id="signup-password" placeholder="Password" type="password">	
        		 	</div>
	         			
					<div class="g-recaptcha" data-sitekey="6LftawkUAAAAAPvwAnXpUkvuSVRcDeQpkoOGarSz" data-theme="light"></div>
					<button type="button" class="btn btn-warning" id="signup">Registrate en FriendZone</button>
					</form>
				</div>
			</div>	
		</div>
	</div>
	{{>profile}} 
	{{>footer}}
</template>