<template name="profile">
	{{# if currentUser}}
	<div class="row">
		<div class="panel panel-default" style="position: absolute; width: 100%; height: 100%; top: 0px; z-index: 1;">
		<div class="panel-body">
					<nav class="navbar navbar-inverse" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					
								<a class="navbar-brand" href="#"> Friend Zone </a>
						
						
					</div>
			
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						
						<form class="navbar-form navbar-left" role="search">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Buscar amigos">
							</div>
							<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
						</form>
						
						<ul class="nav navbar-nav navbar-right">
							
							<ul class="nav navbar-nav">
								
								<li class="active"><a href="#"><span class="glyphicon glyphicon-globe"></span> Noticias </a></li>
								<li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> Amigos </a></li>
								<li class="active"><a href="#"><span class="glyphicon glyphicon-envelope"></span> Mensajes </a></li>
								<li class="active"><a href="#"><span class="glyphicon glyphicon-bell"></span> Notificaciones </a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
      							<li><a href="#"><span class="glyphicon glyphicon-user"></span> {{>loginButtons align="right"}}  </a></li>
      							
    						</ul>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>
			</nav>
			<div class="row">
				<div class="col-sm-2">
					{{> perfil}} 
				</div>
				<div class="col-sm-7"> 
				<ul>
					<li>
						{{> muro}}
					</li>
					<li>
						{{> muroMsn}}
					</li>
				</ul>
				</div>
				<div class="col-sm-3">.col-sm-4</div>
			</div>
			
		</div>

	</div>
	</div>
	
	{{/if}}	 
</template>